<div class="signIn">
  <h3>Sign in to view the animals you've encountered!</h3>
  <form ng-submit="signIn();">
    <span>Username: </span>
    <input type="text" name="username" placeholder="Enter your username" ng-model="username"></input>
    <br>
    <span>Password: </span>
    <input type="password" name="password" placeholder="Enter your password" ng-model="password"></input>
    <br>
    <button type="submit">Submit</button>
  </form>
  <a href='#/signup'>Not a user? Sign up here!</a>
</div>